.card {
  display: inline-block;
}

.card + .card {
  margin-left: 1em;
}

.card .container {
  width: 5em;
  height: 5em;
  position: relative;
}

.card .number {
  font-size: 2em;
  line-height: 2em;
  color: var(--soft-red);
  position: absolute;
  width: 100%;
  top: .25em;
  left: 0;
}

.card .top,
.card .bottom {
  position: absolute;
  height: 2.5em;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--dark-desaturated-blue);
  backface-visibility: hidden;
  overflow: hidden;
}

.card .top {
  border-radius: 0.25em 0.25em 0 0;
}

.card .bottom {
  top: 2.5em;
  background: var(--light-desaturated-blue);
  border-radius: 0 0 0.25em 0.25em;
}

.card .bottom .number {
  top: -1em;
  color: var(--light-soft-red);
}

.card .front .top,
.card .front .bottom {
  z-index: 1;
}

.card .front .bottom {
  box-shadow: 0 0.25em 1px 0 var(--darker-blue);
}

/* active animations */

.card.flip .front .top {
  animation-name: flipOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.card .back .bottom {
  transform-origin: top;
  transform: rotateX(180deg);
}

.card.flip .back .bottom {
  animation-name: flipIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* semicircles */

.card .top::before,
.card .top::after,
.card .bottom::before,
.card .bottom::after {
  display: block;
  height: 0.25em;
  width: 0.25em;
  content: "";
  background-color: var(--darker-blue);
  position: absolute;
}

.card .top::before {
  bottom: 0;
  border-radius: 0 100% 0 0;
}

.card .top::after {
  bottom: 0;
  right: 0;
  border-radius: 100% 0 0 0;
}

.card .bottom::before {
  border-radius: 0 0 100% 0;
}

.card .bottom::after {
  right: 0;
  border-radius: 0 0 0 100%;
}

.card .title {
  color: var(--grayish-blue);
  text-transform: uppercase;
  margin-top: 1em;
  font-size: 0.5em;
  letter-spacing: 0.25em;
}

@keyframes flipIn {
  from {
    transform-origin: top;
    transform: perspective(500px) rotateX(180deg);
  }

  to {
    transform: rotateX(0);
    z-index: 1;
  }
}

@keyframes flipOut {
  from {
    transform: rotateX(0);
    transform-origin: bottom;
  }

  to {
    transform: perspective(500px) rotateX(-180deg);
    transform-origin: bottom;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    font-size: 1.75rem;
  }
}
