:root {
  --soft-red: rgb(251, 96, 135);
  --grayish-blue: rgb(132, 134, 169);
  --dark-desaturated-blue: rgb(52, 54, 80);
  --dark-blue: rgb(30, 31, 41);
  --dark-blue-25-percent: rgba(30, 31, 41, 0.25);
  --darker-blue: rgb(25, 26, 36);
  --fold-size: 0.5rem;
  --perspective: 400px;
}

#root {
  display: grid;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  background-color: var(--dark-blue);
  background-image: url("../assets/bg-stars.svg");
  font-family: "Red Hat Text", sans-serif;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-rows: 25vh 50vh 25vh;
}

header {
  padding-top: 5rem;
}

header h1 {
  font-size: 1.5rem;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

main {
  margin-top: 3rem;
}

main .timer {
  padding: 0 1.5rem;
}

footer {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../assets/pattern-hills.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

footer .social {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .social li {
  display: inline-block;
}

footer .social li + li {
  margin-left: 2rem;
}

footer .social li .icon {
  fill: var(--grayish-blue);
}

footer .social li .icon:hover {
  fill: var(--soft-red);
}
